.about {
	display: none;
	flex-direction: column;
	width: 100%;
	max-width: 720px;
	margin: 0 auto;
}
.about_active {
	display: flex;
}
.about__me {
	margin: 0 0 80px;
	text-align: center;
}
.about__text {
	margin: 0;
}
.about__text:not(:last-child) {
	margin: 0 0 10px;
}
.about__section {
}
.about__section:not(:last-child) {
	margin-bottom: 80px;
}
.about__section-logo {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80px;
	height: 80px;
	margin: 0 auto;
	border: 8px solid var(--color-set-one);
	box-sizing: border-box;
	border-radius: 50%;
}
.about__section-img {
	width: 30px;
	height: 30px;
	color: var(--color-set-three);
}
.about__title {
	margin: 20px 0;
	font-size: 32px;
	text-align: center;
}
.about__line {
	width: 100%;
	max-width: 160px;
	height: 10px;
	margin: 0 auto;
	border-bottom: 10px solid var(--color-set-one);
	box-sizing: border-box;
	border-radius: 10px;
}
.about__list {
	display: flex;
	flex-direction: column;
	margin: 40px 0 0;
	padding: 0;
	list-style: none;
}
.about__item {
	display: flex;
}
.about__item:not(:last-child) {
	margin-bottom: 20px;
}
.about__property {
	width: 130px;
	color: var(--color-set-three);
}
.about__property_type_icon {
	width: 30px;
	height: 30px;
	margin-right: 10px;
}
.about__value {
}
@media(max-width: 800px) {
	.about {
		font-size: calc(14px + (8 + 8 * .7) * ((100vw - 320px) / 800));
	}
	.about__title {
		font-size: calc(22px + (10 + 10 * .7) * ((100vw - 320px) / 800));
	}
}
@media(max-width: 640px) {
	.about__me {
		margin-bottom: calc(40px + (40 + 40 * .7) * ((100vw - 320px) / 640));
	}
	.about__section:not(:last-child) {
		margin-bottom: calc(50px + (30 + 30 * .7) * ((100vw - 320px) / 640));
	}
	.about__section-logo {
		width: calc(60px + (20 + 20 * .7) * ((100vw - 320px) / 640));
		height: calc(60px + (20 + 20 * .7) * ((100vw - 320px) / 640));
	}
	.about__section-img {
		width: calc(18px + (12 + 12 * .7) * ((100vw - 320px) / 640));
		height: calc(18px + (12 + 12 * .7) * ((100vw - 320px) / 640));
	}
	.about__list {
		margin-top: calc(30px + (10 + 10 * .7) * ((100vw - 320px) / 640));
	}
	.about__property {
		width: calc(90px + (40 + 40 * .7) * ((100vw - 320px) / 640));
	}
	.about__property_type_icon {
		width: calc(20px + (10 + 10 * .7) * ((100vw - 320px) / 640));
		height: calc(20px + (10 + 10 * .7) * ((100vw - 320px) / 640));
	}
}
