:root {
}

#dark {
	--color-page: #0C151D;

	--color-text: #A3ABB2;
	--color-text-invert: #575757;
	--color-text-two: #F1F2F4;
	--color-text-three: #A3ABB2;

	--color-set-one: #171F26;
	--color-set-one-invert: #fff;
	--color-set-two: #0C151D;
	--color-set-three: #F9D640;
}

#light {
	--color-page: #E9EBEC;

	--color-text: #575757;
	--color-text-invert: #A3ABB2;
	--color-text-two: #3D3D3D;
	--color-text-three: #19191B;

	--color-set-one: #fff;
	--color-set-one-invert: #171F26;
	--color-set-two: #D7D7D7;
	--color-set-three: #FBD144;
}

body {
	background: var(--color-page, #0C151D);
}

.app {
	/* Основные настройки страницы */
	display: flex;
	flex-direction: column;
	max-width: 800px;
	min-width: 320px;
	min-height: 100vh;
	margin: 0 auto;
	padding: 33px 20px 80px;
	box-sizing: border-box;
	color: var(--color-text, #fff);
	background: var(--color-page, #0C151D);
/* Настройка основного шрифта */
	font-family: "Poppins", Arial, Helvetica, sans-serif;
	font-size: 22px;
	line-height: 1.5;
	font-weight: 500;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@media(max-width: 640px) {
	.app {
		padding: 20px 17px 40px;
	}
}
